{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/aboutus.css') }}">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ app.request.getBaseURL() }}/">PooBus</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{{ app.request.getBaseURL() }}/">Homepage</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ app.request.getBaseURL() }}/about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ app.request.getBaseURL() }}/reviews">What Others Say</a>
            </li>
        </ul>
    </nav>

    <div class="about-us">
        <h1 class="headline">About Us</h1>
        <div class="container-fluid">
            <div class="card-group">
                <div class="card">
                    <div class="card-img pb-3">
                        <img class="card-img-top" src="/images/boy.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Savvas Alexandrou</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh.</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-img pb-3">
                        <img class="card-img-top" src="/images/girl.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Eleni Ioakim</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img pb-3">
                        <img class="card-img-top" src="/images/man.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Christos Ioannou</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget laoreet nibh, et finibus mi.</p>
                    </div>
                </div>
            </div>

        </div>

        <h1 class="headline">Why PouBus?</h1>
        <div class="why-poubus">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum ut est non ullamcorper. Morbi ut convallis purus, eu elementum libero. Ut sit amet venenatis nibh, vel eleifend orci. Nam quis condimentum diam. Sed consectetur porta dolor, et posuere ipsum placerat eget. Maecenas luctus neque nulla, sodales ornare lacus laoreet vitae. Praesent odio velit, imperdiet vel lacus ac, vulputate tristique urna. Nulla eu nisi ut urna feugiat volutpat sed non nisl.</p>
            <div class="why-poubus">
                <img src="images/shutterstock_245281558.jpg" style="display: inline-block;" class="img-thumbnail" alt="Cinque Terre"></div>

        </div>

        <br>
        <h1 class="headline">Our Next Goal</h1>
        <div class="why-poubus">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum ut est non ullamcorper. Morbi ut convallis purus, eu elementum libero. Ut sit amet venenatis nibh, vel eleifend orci. Nam quis condimentum diam. Sed consectetur porta dolor, et posuere ipsum placerat eget. Maecenas luctus neque nulla, sodales ornare lacus laoreet vitae. Praesent odio velit, imperdiet vel lacus ac, vulputate tristique urna. Nulla eu nisi ut urna feugiat volutpat sed non nisl.</p>
            <div class="why-poubus">
                <img src="images/nextstep.png"  class = "img-thumbnail" alt="Cinque Terre">   </div>
        </div>
    </div>

{% endblock %}