{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/reviews.css') }}">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ app.request.getBaseURL() }}/">PooBus</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{{ app.request.getBaseURL() }}/">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ app.request.getBaseURL() }}/about-us">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ app.request.getBaseURL() }}/reviews">What Others Say</a>
            </li>
        </ul>
    </nav>

    <div class="example-wrapper">
        <h1 class="headline">Reviews</h1>
    </div>


{% endblock %}